[user]
  name = telmen
  email = flyinvoke@gmail.com
  signingKey = 2D3B964912A6D8DB

[github]
  user = telmen

[alias]
  clog = "!fn() { git log --oneline --no-merges "$1"..HEAD; }; fn"
  d = diff
  discard = reset --hard HEAD
  fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
  graph = log --graph --all --decorate --stat --date=iso
  last = log -n 10
  logn = log --no-merges
  me = log --all --oneline --no-merges --author=flyinvoke@gmail.com
  overview = log --all --since='2 weeks' --oneline --no-merges
  praise = blame
  rmtag = "!sh -c 'git tag -d $1; git push origin :refs/tags/$1'"
  sign = commit -S -m
  signtag = 'tag -s -m ""'
  synq = "!fn() { git fetch --all; git rebase ${1:-upstream}/${2:-$(git branch --show-current)}; }; fn"
  uncommit = reset HEAD~
  unstage = reset --
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"

[core]
  editor = vim
  autocrlf = input
  pager = delta
  trustctime = false
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  whitespace = trailing-space,space-before-tab

[delta]
  features = line-numbers decorations
  syntax-theme = TwoDark
  number = true
  zero-style = dim syntax
  plus-style = "#39D56B" normal
  minus-style = "#EA4A5A" normal
  plus-emph-style = "#ffffff" "#39D56B"
  minus-emph-style = "#ffffff" "#EA4A5A"

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28

[interactive]
  diffFilter = delta --color-only

[diff]
  tool = vimdiff
  renames = copies
  mnemonicprefix = true
  algorithm = patience
  indentHeuristic = true
  colorMoved = zebra

[difftool]
  prompt = false

[diff "plist"]
  textconv = plutil -convert xml1 -o -

[diff "provision"]
  textconv = security cms -D -i

[diff "exif"]
  textconv = exiftool

[diff "zip"]
  textconv = unzip -c -a

[push]
  default = simple

[branch]
  autosetuprebase = always
  autosetupmerge = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[commit]
  gpgsign = true
  verbose = true

[gpg]
  program = gpg

[rebase]
  autostash = true
  autosquash = true
  stat = true

[merge]
  ff = no
  commit = no
  tool = vimdiff
  log = true
  stat = true
  conflictstyle = diff3

[mergetool "vimdiff"]
  cmd = vim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  prompt = false
  keepBackup = false

[advice]
  pretty = format: %h %Cblue%ad%Creset %ae %Cgreen%s%Creset
  statusHints = false
  waitingForEditor = false

[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(bold yellow)%GK%Creset
  graph = true

[log]
  abbrevCommit = true
  date = auto:human
  follow = true

[changelog]
  format = * %s by %an

[tag]
  gpgsign = true

[init]
	defaultBranch = main

[pull]
  rebase = true

[http "http://git.lend.loc"]
	sslVerify = false

[branch "main"]
  pushRemote = NOPE

[branch "master"]
  pushRemote = NOPE

[checkout]
  guess = true

[pager]
  branch = false

[grep]
  column = true
  lineNumber = true

[status]
  showUntrackedFiles = all

[stash]
  showPatch = true

[rerere]
  enabled = true
  autoupdate = true

[fetch]
  prune = true

[help]
  autocorrect = 1
