[alias]
  logn = log --no-merges
  uncommit = reset HEAD~
  fixup = "!f() { TARGET=$(git rev-parse "$1"); git commit --fixup=$TARGET ${@:2} && EDITOR=true git rebase -i --autostash --autosquash $TARGET^; }; f"
  praise = blame
  overview = log --all --since='2 weeks' --oneline --no-merges
  me = log --all --oneline --no-merges --author=flyinvoke@gmail.com
  clog = "!fn() { git log --oneline --no-merges "$1"..HEAD; }; fn"
  graph = log --graph --all --decorate --stat --date=iso
  unstage = reset --
[user]
  name = telmen
  email = flyinvoke@gmail.com
  signingKey = 2D3B964912A6D8DB
[core]
  editor = vim
  autocrlf = input
  pager = delta
  trustctime = false
[delta]
  features = line-numbers decorations
  syntax-theme = TwoDark
  number = true
  zero-style = dim syntax
  plus-style = "#39D56B" normal
  minus-style = "#EA4A5A" normal
  plus-emph-style = "#ffffff" "#39D56B"
  minus-emph-style = "#ffffff" "#EA4A5A"
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
  hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
[interactive]
  diffFilter = delta --color-only
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = current
[branch]
  autosetuprebase = always
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[commit]
  gpgsign = true
  verbose = true
[gpg]
  program = gpg
[rebase]
  autoStash = true
[merge]
  ff = no
  commit = no
  tool = vimdiff
  conflictstyle = diff3
[mergetool "vimdiff"]
  cmd = vim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
  prompt = false
  keepBackup = false
[format]
  pretty = format: %h %Cblue%ad%Creset %ae %Cgreen%s%Creset
[log]
  date = auto:human
[changelog]
  format = * %s by %an
[tag]
  gpgsign = true
[init]
	defaultBranch = main
