.title-actions
  > .monaco-toolbar
  > .monaco-action-bar
  > .actions-container
  > .action-item
  > .action-label.icon.explorer-action {
  display: none !important;
}
.editor-actions > .monaco-toolbar > .monaco-action-bar {
  display: none !important;
}

.title.tabs {
  background-color: "#000" !important;
}

.monaco-editor .margin {
  background-color: unset;
}

.monaco-editor .ced-1-TextEditorDecorationType61-1 {
color: #fff !important;
}

* {
  text-shadow: none;
}
